<!DOCTYPE html>
<html>
    <head>
        <title>Chirper Single View</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="theme-color" content="#ffffff">

    </head>
    <body>
        <div class="jumbotron">
            <div class="row text-center">
                <h1><i class="fa fa-twitter" aria-hidden="true"></i>Chirper</h1>
                <p class="text-center">A place for learning. A place for chirping.</p>
            </div>
        </div>

        <div>
            <h6>Learn Programming- Click Below!</h6>
            <a href="http://www.computercommis.wordpress.com"><img src="/wordpress.png" width=200 height=180/></a>
        </div>

         <div class="container">
            <div class="container tweet-area" id="chirp-list">
            </div>
         </div>

<script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="/scripts_single.js"></script>
    </body>
</html>