<div class="container">
    <div class="container tweet-area" id="chirp-list">
        <h1>{{ chirp.userName }}</h1>
        <p>{{ chirp.message }}</p>
        <h5>{{ chirp.timestamp | date: 'medium'}}</h5>
        <button class="edit-btn btn btn-primary btn-xs"><a ng-href="#!/chirps/{{ chirp.id }}/update"><span id="btn-text"><i class="glyphicon glyphicon-pencil edit-btn" aria-hidden="true"></i>Edit</span></a></button>
        <button ng-click="deleteChirp()" class="btn btn-danger btn-xs delete-btn"><span id="btn-text"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</span></button>
    </div>
</div>
